<div class="footer pt-5" id="footer">
    <div class="container">
      <div class="row row-cols-lg-3 row-cols-1 justify-content-betwen">
        <div class="col col-lg-6">
          <h2 class="fw-bold text-white mb-3">Ngoding</h2>
          <p class="text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus non in cumque voluptas! Incidunt, quod eius necessitatibus deserunt voluptatem blanditiis?</p>
        </div>
        <div class="col col-lg-2 d-flex flex-column mb-lg-0 mb-4">
          <h5 class="fw-bold text-white">Menu</h5>
          <a href="#home" class="text-white-50 mt-2 text-decoration-none">home</a>
          <a href="#about" class="text-white-50 mt-2 text-decoration-none">About</a>
          <a href="#projects" class="text-white-50 mt-2 text-decoration-none">Projects</a>
          <a href="#services" class="text-white-50 mt-2 text-decoration-none">Services</a>
          <a href="#faq" class="text-white-50 mt-2 text-decoration-none">Faq</a>
        </div>
        <div class="col col-lg-3 d-flex flex-column">
          <h5 class="fw-bold text-white mb-3">Contact</h5>
          <a href="#" class="text-decoration-none text-white-50 mt-2">sman@gmailk.com</a>
          <a href="#" class="text-decoration-none text-white-50 mt-2">62 78887878</a>
          <a href="#" class="text-decoration-none text-white-50 mt-2">@sman.id</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="text-white text-center copyright">&copy;Copyright 2023 by nurjaman</p>
        </div>
      </div>
    </div>
  </div>