{% load static %}
<div class="hero d-flex align-items-center text-center">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="text-white fw-bold m-4 text-opacity-75 animate__animated animate__fadeInUp animate__delay-1s">JOin bersama kami <br>membangun sebuah project</h1>
          <p class="text-white animate__animated animate__fadeInUp animate__delay-1s">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, earum.</p>
          <button class=" btn btn-primary rounded-1 m-2 animate__animated animate__fadeInUp animate__delay-1s">join with us</button>
          <button class="btn btn-outline-light animate__animated animate__fadeInUp animate__delay-1s">about us</button>
        </div>
      </div>
    </div>
</div>
  <!-- end hero -->